<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= firstname %> <%= lastname %></p>
    <form action="/index" method="post">
        <button type="submit">退出登陆</button>
    </form>
  </body>
</html>
